<div class="container">
  <div class="card blog-card mb-3">
    <h5 class="card-header bg-dark">
      <a class="blog-title" href="/post/{{id}}">{{title}}</a>
      <p class="blog-author">Created by {{user.name}} on {{format_date date_created}}</p>
    </h5>
    <p>{{body}}</p>
  </div>
  <br>
  {{#if comment.length}}
  {{#each Comments as |comment|}}
  <div class="card blog-card mb-3">
    <h5 class="card-header bg-dark">
      <a class="blog-title" href="/post/{{comment.id}}">{{comment.title}}</a>
      <p class="blog-author">Created by {{comment.user.name}} on {{format_date date_created}}</p>
    </h5>
    <p>{{comment.body}}</p>
  </div>
  {{/each}}
  {{/if}}
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text bg-dark comment-text">Add a comment:
        <Body></Body>
      </span>
    </div>
    <textarea class="form-control" id="comment-body"></textarea>
  </div>
  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-secondary">Post Comment!</button>
  </div>
</div>